.admin-dashboard {
    max-width:1000px; margin:2rem auto; padding:1rem;
}
  
.admin-dashboard h1,
.admin-dashboard p > a {
    text-align:center; display:block; margin-bottom:1rem;
}
  
.admin-dashboard table {
    width:100%; border-collapse:collapse;
}
  
.admin-dashboard th,
.admin-dashboard td {
    padding:.75rem; border:1px solid #ddd; text-align:left;
}
  
.admin-dashboard th {
    background: var(--primary-light);
    color: #fff;
}
  