@media (max-width: 1024px) {
    .project-item {
      flex: 1 1 calc(50% - 1rem) !important;
      max-width: calc(50% - 1rem) !important;
    }
}
  
@media (max-width: 768px) {
    .project-item {
      flex: 1 1 100% !important;
      max-width: 100% !important;
    }
    .main_navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: .5rem;
      position: relative;
      padding-bottom: 4rem; 
    }
    .navbar-menu {
      position: absolute !important;
      transform: none !important;
      flex-direction: column !important;
      padding: .5rem !important;
      border-radius: 4px !important;
      margin-top: .1rem !important;
      left: auto !important;
      right: 1rem !important;
      display: flex !important;
      justify-content: flex-end !important;
      margin: 1rem !important;
      align-self: flex-end !important;
      bottom: 1rem !important;
      gap: 0.1rem !important;
      max-height: 80vh !important;
      overflow-y: auto !important;
    }
    .navbar-lang {
      position: absolute !important;
      align-self: flex-end;
      margin: 0 !important;
      bottom: 1rem;
      right: 1rem;
      display: flex;
      gap: 0.1rem;  
    }
    .navbar-brand .navbar-logo {
        max-height: 100px;
    }
    .project-media,
    audio.project-media,
    video.project-media {
      max-width: 90vw !important;
    }
}

@media (max-width: 768px) {
    .admin-dashboard table,
    .admin-dashboard thead,
    .admin-dashboard tbody,
    .admin-dashboard th,
    .admin-dashboard td,
    .admin-dashboard tr {
      display: block;
    }
    .admin-dashboard th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .admin-dashboard td {
      position: relative;
      padding-left: 50%;
    }
    .admin-dashboard td:before {
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      padding-left: .75rem;
      font-weight: bold;
    }
}
  
@media (max-width: 900px) {
    #mapWeatherSection {
      flex-direction: column;
      align-items: center;
    }
    .info-block {
      width: 100%;
      max-width: 600px;
    }
}
  
@media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      gap: 1.5rem;
    }
    #backToTop {
      right: 1rem;
    }
}
  
@media (max-width: 480px) {
    .btn-primary,
    .btn-load-more,
    .newsletter-form button,
    .comment-form button,
    .form-btn,
    #backToTop {
      width: 50%;
      padding: .75rem;
      font-size: .9rem;
    }
    #backToTop {
      width: 2.25rem;
      height: 2.25rem;
      bottom: 1.5rem;
      right: 1.5rem;
    }
}
  